@media only screen and (max-width: 800px) {
    .swiper-button-prev {
      display: none;
    }
  
    .swiper-button-next {
      display: none;
    }
  }
  
  .swiper {
    padding: 32px;
  }

  .swiper-wrapper {
    display: flex;
    align-items: center;
  }
  
  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-pagination-bullet-active {
    background-color: #ffffff;
  }
  
  .swiper-button-prev {
    color: #ffffff;
    padding: 0;
  }
  
  .swiper-button-next {
    color: #ffffff;
  }