@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-blue-primary-dark;
  }

  .container {
    @apply mx-auto w-full max-w-[1245px] px-6;
  }

  *::-webkit-scrollbar {
    width: 8px;
  }

  *::-webkit-scrollbar-track {
    background: #374151;
    border-radius: 5px;
  }

  *::-webkit-scrollbar-thumb {
    background: #0328ee;
    border-radius: 14px;
  }
}
